h1 {
    color:darkmagenta;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}
h2 {
    color: deeppink;
    font-family: sans-serif;
}
h3 {
    color: deeppink;
    font-family: sans-serif;
}
h4 {
    color: gold;
}
body {
    background-color: green;
}.text-box {
    background-color: darkviolet;
}
ol {
    font-style: oblique;
    font-size: larger;
    font-weight: initial;
    font-family: serif;
}
